atproto
git+https://github.com/hasgeek/baseframe#egg=baseframe
bleach
git+https://github.com/hasgeek/coaster#egg=coaster
coverage
dnspython
Flask
Flask-Assets
git+https://github.com/hasgeek/flask-lastuser#egg=Flask-Lastuser
Flask-Mail
Flask-Migrate
Flask-Redis
Flask-RQ2
Flask-SQLAlchemy
git+https://github.com/maxcountryman/flask-uploads.git#egg=Flask-Uploads
Flask-WTF
geoip2
gunicorn
html2text
jsmin
langid
nltk
Pillow
premailer
progressbar2
psycopg2-binary
python-dotenv
pytz
SQLAlchemy
SQLAlchemy-Utils
tldextract
tweepy
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
